In [1]:
# importing various package
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import preprocessing

In [2]:
# making data frame from csv file
sdn = pd.read_csv("dataset_sdn_Attack.csv")

In [3]:
sdn.columns

Index(['dt', 'switch', 'src', 'dst', 'pktcount', 'bytecount', 'dur',
       'dur_nsec', 'tot_dur', 'flows', 'packetins', 'pktperflow',
       'byteperflow', 'pktrate', 'Pairflow', 'Protocol', 'port_no', 'tx_bytes',
       'rx_bytes', 'tx_kbps', 'rx_kbps', 'A1', 'A2', 'tot_kbps', 'label'],
      dtype='object')

In [4]:
sdn['label'].value_counts()

1    40784
Name: label, dtype: int64

In [5]:
sdn_filter = sdn.isin([np.nan, np.inf, -np.inf])
# Mask df with the filter
sdn= sdn[~sdn_filter]
sdn.dropna(inplace=True)

In [6]:
sdn.replace([np.inf, -np.inf], np.nan, inplace=True)

In [7]:
sdn.dropna(inplace=True)

In [8]:
sdn.shape

(40504, 25)

In [9]:
sdn.replace({1:0},inplace=True)

In [10]:
X_sdn=sdn.drop('label',axis=1)
normalized_sdn = pd.DataFrame(preprocessing.normalize(X_sdn)*255)
normalized_sdn['label']=sdn['label']

In [11]:
normalized_sdn.dropna(inplace=True)

In [12]:
normalized_sdn=normalized_sdn.astype(int)

In [13]:
normalized_sdn.head()

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,label
0,0,0,3,3,0,0,0,16,254,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,3,3,0,0,0,16,254,0,...,0,0,0,1,0,0,0,0,0,0
2,0,0,3,3,0,0,0,16,254,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,3,3,0,0,0,16,254,0,...,0,0,1,0,0,0,0,0,0,0
4,0,0,3,3,0,0,0,16,254,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
normalized_sdn.to_csv('sdn.csv')

In [15]:
import numpy as np
import csv
from PIL import Image

import pandas as pd

In [16]:
image_sdn=pd.read_csv('sdn.csv')

In [17]:
image_sdn.dropna(inplace=True)

In [18]:
count=0
label=0
day='sdn'
for i in range(len(image_sdn)):
    row=image_sdn.loc[i]
    pix = np.array(row[:-1], dtype='uint8')
    pix = pix.reshape((5, 5))
    image = Image.fromarray(pix)
    filename = '{}{}{}.jpg'.format(day,label,count)
    image.save(filename)
    count+=1